:root {
    --primary-color:#142601;
}

body {
    background: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width:95%;
    margin:auto;
    background: rgba(255,255,255,0.5);
    border-radius:5px;
    padding:5px;
}

#main-header {
    background: #595302;
    color: white;
    border-radius:5px;
    padding:5px;
    position: relative;
}

#main-content section, #main-content aside {
    padding:5px;
}

.squirrel {
    background:#595302;
    padding:5px;
    border-radius:5px;
    margin:5px;
}

/* Showcase */
#show {
    position: relative;
}

#show p {
    background:rgba(0, 0, 0, 0.7);
    color:white;
    padding:10px;
    width: fit-content;
    position:absolute;
    top:0;
    left:0;
}

.squirrel .columns div {
    width:30%;
}

/* Gallery */
#gallery {
    flex-wrap: wrap;
    padding: 5px;
    margin:5px;
    max-width:100%;
}

/*Images*/
img {
    max-width:100%;
}

/* Main Navigation */
nav ul {
    list-style-type: none;
    padding-left:0;
}

nav a {
    text-decoration: none; /* NO UNDERLINES */
}

#main-nav li {
    border-bottom:2px solid white;
    padding:5px;
}

#main-nav li:first-child {
    border-top:2px solid white;
}

#main-nav a {
    color:white;
    padding: 10px 5px;
    display:block;
}

#main-nav a:hover {
    background: white;
    color:#595302;
}

#login-nav {
    position: absolute;
    top:2.5%;
    right:2.5%;
}

#login-nav a {
    color:white;
}

#login-nav a:hover {
    border-bottom:1px solid white;
}

#login-nav li::after {
    content: "|";

}
/* Typography */
h1 {
    text-align: center;
}

@media only screen and (min-width:768px) {
    body {
      background:url(images/forest.jpg);
      background-size: cover;
    }

    #content {
        width:70%;
    }
    /* Columns */
    .columns {
        display:flex;
    }

    .one {
        flex:1;
    }
    
    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4;
    }

    .five {
        flex:5;
    }

    /* Main Nav */
    #main-nav li {
        flex:1;

    }

    #main-nav li, #main-nav li:first-child {
        border:none;
    }
    
    #main-nav a {
        text-align: center;
        padding:5px;
    }

    #main-nav a:hover {
        background: #595302;
        color: white;
        border-bottom:1px solid white;
    }

    #login-nav li::after {
    content: "|";
    }


}