body {
    background: #142601;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width:95%;
    margin:auto;
    background: rgba(255,255,255,0.5);
    border-radius:5px;
    padding:5px;
}

#main-header {
    background: #595302;
    color: white;
    border-radius:5px;
    padding:5px;
}
/* Main Navigation */
#main-nav ul {
    list-style-type: none;
}

#main-nav li {
    border-bottom:2px solid white;
    padding:10px 0px;
}

#main-nav li:first-child {
    border-top:2px solid white;
}

#main-nav a {
    color:white;
    padding: 10px 5px;
    display:block;
    text-decoration: none; /* NO UNDERLINES */
}


/* Typograpgy */
h1 {
    text-align: center;
}

@media only screen and (min-width:768px) {
    body {
      background:url(images/forest.jpg);
      background-size: cover;
    }

    #content {
        width:70%;
    }



}