body {
  background: #52554e3a;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #2b3a3f;
}

header {
  padding: 20px;
}

h1 {
  margin: 0;
  color: #0c7691;
}

h2 {
  margin: 5px 0 15px;
  color: #000000;
}

/* Large screen menu */
.large-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.large-menu .menu-item {
  cursor: pointer;
  color: #446a74;
  position: relative;
}

.large-menu .menu-item:not(:last-child)::after {
  content: "|";
  margin-left: 8px;
}

/* Small screen menu */
.small-menu {
  display: none;
  margin-bottom: 15px;
}

#menu-toggle {
  cursor: pointer;
  font-size: 1.2rem;
}

#menu-items {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#menu-items .menu-item {
  margin: 5px 0;
  cursor: pointer;
  color: #446a74;
}

/* Sections */
main section {
  background:#ebf0d9;
  border: 2px solid #a6b19e;
  margin: 20px auto;
  padding: 20px;
  max-width: 500px;
}

#plant-result {
  margin-top: 15px;
}

#plant-result img {
  width: 180px;  
  height: auto;   
  display: block;
  margin: 15px auto;
}


footer {
  margin: 30px 0;
  font-size: 0.9rem;
  color: #446a74;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .large-menu {
    display: none;
  }
  .small-menu {
    display: block;
  }
}

.hidden {
  display: none;
}
